{{- $ctx := . }}
{{- range $ctx.headings }}
  {{- if and (ge .Level $ctx.startLevel) (le .Level $ctx.endLevel) }}
    <li>
      <a {{ printf "href=#%s" .ID | safeHTMLAttr }}>{{ .Title | plainify | safeHTML }}</a>
      {{- with and (lt .Level $ctx.endLevel) .Headings }}
        <ul>
          {{- $ctx = merge $ctx (dict "headings" .) }}
          {{- partial "toc/walk.html" $ctx }}
        </ul>
      {{- end }}
    </li>
  {{- else }}
    {{- $ctx = merge $ctx (dict "headings" .Headings) }}
    {{- partial "toc/walk.html" $ctx }}
  {{- end }}
{{- end }}
