#m-t {appearance: none;}
#m-t ~ header label path:nth-child(1) {transform-origin:14px 35px;}
#m-t ~ header label path:nth-child(3) {transform-origin:14px 63px;}
#m-t:checked ~ header label path:nth-child(1) {transform:rotate(45deg);}
#m-t:checked ~ header label path:nth-child(2) {opacity:0;}
#m-t:checked ~ header label path:nth-child(3) {transform:rotate(-45deg);}
#m-t:checked ~ nav #menu {display:block;}
#m-t-i {stroke:currentColor;stroke-width:10;stroke-linecap:round;width:1.5rem;height:1.5rem;}
