#skip-link {
  width: 10rem;
  margin: 0 auto;
  position: fixed;
  z-index: 200;
  left: 0;
  right: 0;
  top: 0.5rem;
  margin-top: -4rem;
  opacity: 0;
}
#skip-link:focus {
  margin-top: 0;
  opacity: 1;
  transition: margin-top 0.1875s ease-out, opacity 0.1875s ease-out;
}
