<div class="flex items-center">
  <div class="mr-2">{{- i18n "do-not-track" -}}</div>
  <div class="dnt-on inline-block px-2 bg-success text-primary-content font-semibold rounded">{{- i18n "on" -}}</div>
  <div class="dnt-off inline-block px-2 bg-error text-primary-content font-semibold rounded">{{- i18n "off" -}}</div>
</div>
