{{- partial "meta/_check_meta.html" . -}}
{{- partial "resource/_collect.html" . -}}
{{- partial "intro-image/_collect.html" . -}}
{{- $noop := page.Len -}}
{{- page.Store.Set "__open_section__" false -}}
<!DOCTYPE html>
<html lang="{{ .Language }}">
<head>
{{ partial "resource/policy.html" . }}
{{ partial "resource/preconnect.html" . }}
  <title>{{ block "title" . }}{{ with .Title }}{{ . }} - {{ end }}{{ .Site.Title -}}{{ end }}</title>
{{ block "head" . }}{{ partial "head.html" . }}{{ end }}
</head>
<body class="flex flex-col min-h-screen"><a href="#content" id="skip-link" class="btn btn-warning">{{- i18n "wcag-skip-to-content" | default "Skip to content" -}}</a>
<div id="progress"></div>
{{- if gt (len .Site.Pages) 0 -}}
{{- $currentPage := .Page -}}
{{- $pages := newScratch -}}
{{- $pages.Set "list" .Site.Sections -}}
{{- with .Site.GetPage "/contact.md" -}}{{- $pages.Set "list" (append (slice .) ($pages.Get "list")) -}}{{- end -}}
<div class="top-0 z-10 w-full h-8 bg-base-200 md:sticky">
  <div class="container h-8 mx-auto pr-4 flex flex-row items-center justify-end">
    <div class="mr-4">
      {{- .Scratch.Set "linkClass" "hash-theme block md:inline-block my-2 md:m-0 px-4 py-2 md:p-0 text-neutral text-xs" -}}
      {{ partial "link/other-languages.html" . }}
    </div>
    {{ partial "darkmode-toggle.html" . }}
  </div>
</div>
{{ partial "menu-toggle.html" . }}
<header class="sticky top-0 z-30 bg-base-100 h-16 md:h-32 lg:h-28 md:container md:mx-auto md:top-8 md:pt-1 lg:pt-3" aria-labelledby="m-t-l">
  {{ partial "menu-toggle-label.html" . }}
  <a class="block text-primary max-w-xs mr-20 ml-4 mt-3 h-12" href="{{ .Site.Home.Permalink }}" aria-label="{{ i18n "homepage" }}">{{ (resources.Get .Site.Params.logo.path).Content | safeHTML }}</a>
</header>
<div class="top-16 z-20 pl-4 text-xl italic font-serif md:container md:top-40 md:mx-auto md:sticky md:mb-0 md:h-0 md:overflow-visible md:z-40 lg:top-36"><div class="md:relative md:-top-16 lg:-top-10">{{ .Page.Title }}</div></div>
<nav class="sticky flex flex-col top-16 z-30 pl-4 bg-base-100 border-b landscape:pb-0 md:landscape:pb-4 md:container md:mx-auto md:top-40 md:h-0 md:overflow-visible md:items-end lg:top-36 lg:flex-row lg:justify-end lg:items-baseline" aria-label="{{- T "aria-nav-main" -}}">
  <div id="menu" class="relative hidden pr-4 mb-4 md:sr-only:block md:block md:mb-0 md:pt-1 lg:pt-0 md:-top-32 lg:-top-24">
  <ul class="flex flex-col md:flex-row md:ml-auto md:-mr-4 landscape:grid grid-cols-2 gap-x-2 md:landscape:flex">
    {{- range $pages.Get "list" -}}{{- if not .Params.hidden }}
    <li>{{- if eq $currentPage . -}}
      <span class="flex flex-grow md:flex-grow-0 items-center md:h-12 my-3 px-4 py-2 bg-base-300 md:bg-transparent font-semibold border-b-2">{{ .Title }}</span>
      {{- else -}}
      <a class="flex flex-grow md:flex-grow-0 items-center md:h-12 my-3 px-4 py-2 bg-base-300 md:bg-transparent font-semibold text-primary border-b-2 border-transparent hover:border-primary" href="{{ .Permalink }}">{{ .Title }}</a>
      {{- end -}}
    </li>
    {{- end -}}{{- end }}
  </ul>
  </div>
  {{- with (.Param "cta").button }}
  <div id="cta-nav" class="flex flex-row landscape:justify-end landscape:absolute landscape:right-16 landscape:-top-14 mb-4 pr-4 md:landscape:relative md:relative xl:ml-16 md:-top-32 md:landscape:-top-32 md:landscape:right-0 lg:landscape:-top-24 lg:landscape:right-0">
    <a class="btn btn-primary flex-grow landscape:flex-grow-0 md:flex-grow-0 px-0 md:px-4 landscape:px-4" href="{{ .link }}">{{ .label }}<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m 10,3 7,7 -7,7"></path></svg></a>
  </div>
  {{ end -}}
</nav>
{{- end }}
<main class="container pt-8 lg:pt-24 mx-auto" aria-labelledby="title">
{{- block "main" . }}
{{- $images := .Resources.ByType "image" }}
{{- $cover := $images.GetMatch "*cover*" }}
{{- $feature := $images.GetMatch "*feature*" | default $cover }}
    <article id="main" class="max-w-screen-xl">
      <header class="px-4 max-w-[32rem] mb-4">
{{- partial "breadcrumbs.html" . }}
        <hgroup>
          <h1 id="title" class="mt-0">{{ .Title }}</h1>
{{- with $feature -}}
          <p><img
            class="mb-6 -mt-4 rounded-md"
            srcset="
                  {{- (.Resize "330x").RelPermalink }} 330w,
                  {{- (.Resize "660x").RelPermalink }} 660w,
                  {{- (.Resize "1024x").RelPermalink }} 1024w,
                  {{- (.Resize "1320x").RelPermalink }} 2x"
            src="{{ (.Resize "660x").RelPermalink }}"
          ></p>
{{- end -}}
{{- if not .Params.nometa }}
{{- partial "article-meta.html" (dict "context" . "scope" "single") }}
{{- end }}
        </hgroup>
      </header>
      <div class="flex flex-col lg:flex-row lg:items-start max-w-full">
        <div id="content" class="px-4 pb-8 md:pb-24 max-w-[32rem]" data-pagefind-body>
{{ block "content" . }}
{{/* Overcome a limitation with .Scratch and render hook template interaction */}}
{{- page.RawContent | page.RenderString | emojify -}}
{{- partial "close-open-section" . -}}
{{ end }}
        </div>
        <nav aria-labelledby="toc-label" id="TableOfContents" tabindex="0" class="group sticky top-16 md:top-32 lg:top-44 order-first lg:order-last overflow-y-hidden max-h-10 focus:max-h-screen transition-[max-height] lg:max-h-none lg:overflow-auto lg:ml-12 xl:ml-24 px-4 pb-2 bg-base-100">
          <div class="border-b group-focus:border-none lg:hidden mb-2">
            <div class="absolute top-2 left-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="20" height="20" class="group-focus:rotate-90 transition-transform stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m 10,3 7,7 -7,7"></path></svg></div>
            <div id="toc-label" class="w-full pl-6 h-8 leading-8 overflow-hidden group-focus:h-0">{{ i18n "article.table_of_contents" }}</div>
            <div tabindex="0" class="hidden w-full pl-6 group-focus:block h-8 leading-8 group-focus:focus:hidden">{{ i18n "article.table_of_contents" }}</div>
          </div>
          <div class="border-b lg:border-l lg:border-b-0 lg:pl-8 lg:py-4">
{{ block "toc" . }}
{{- if and (.Params.showTableOfContents | default (.Site.Params.article.showTableOfContents | default true)) (in .TableOfContents "<ul") -}}
{{-   partial "toc/render.html" (dict "context" . "toc" .TableOfContents) -}}
{{- end -}}
{{ end }}
          </div>
        </nav>
      </div>
    </article>
{{- end }}
</main>
{{- block "footer" . }}
{{- partial "footer.html" . -}}
{{- partial "dev-size-indicator.html" . -}}
{{- end }}
{{- block "script" . }}
{{ partial "resource/script" "/js/inline/progress.js" }}
{{- end }}
</body>
</html>
