{{ define "content" }}
{{- $images := .Resources.ByType "image" }}
{{- $cover := $images.GetMatch "*cover*" }}
{{- $feature := $images.GetMatch "*feature*" | default $cover }}
{{- $toc := slice }}
{{- $pages := slice }}
{{- if (and false .Data.Pages) }}
{{ . }}
  {{- if $.Params.groupByYear | default ($.Site.Params.list.groupByYear | default false) }}
    {{- range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
      {{ .Key }}
      {{- range .Pages }}
      {{- end }}
    {{- end }}
  {{- else }}
    {{ range (.Paginate .Pages).Pages }}
    {{ end }}
  {{- end }}
{{- end }}
{{- $innerHeadings := slice -}}
{{- with page.Fragments -}}
{{- $innerHeadings = $innerHeadings | append .Headings -}}
{{- end -}}
{{- $headings := newScratch -}}
{{- $headings.Set "ID" "" -}}
{{- $headings.Set "Level" 0 -}}
{{- $headings.Set "Title" "" -}}
{{/* Overcome a limitation with .Scratch and render hook template interaction */}}
{{- (page.RenderString page.RawContent) | emojify -}}
{{- partial "close-open-section" . -}}
{{ range .Pages }}
{{- $link := .Title | anchorize -}}
{{- $linkText := i18n "list-read-on" -}}
{{- with .Params.list.link -}}
{{-   $linkText = printf "%s…" . -}}
{{- end -}}
{{- $innerHeadings = $innerHeadings | append (dict "ID" $link "Level" 2 "Title" .Title) -}}
<section id="{{- $link -}}">
  <article>
    <hgroup>
      <h2 class="text-left"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
{{- partial "article-meta.html" (dict "context" . "scope" "single") }}
    </hgroup>
    <div>
{{- .Summary -}}
    <a href="{{ .Permalink }}">{{- $linkText -}}</a>
    </div>
  </article>
</section>
{{ end }}
{{- $headings.Set "Headings" $innerHeadings -}}
{{- page.Store.Set "__toc__" $innerHeadings -}}
{{ end }}
{{ define "toc" }}
{{-   partial "toc/render.html" (slice (dict "ID" "" "Title" "" "Level" 0 "Headings" (page.Store.Get "__toc__"))) -}}
{{ end }}
