{{- with page.Store.Get "introImage" -}}
{{- $imageFallback := .Get "fallback" -}}
<div class="col-span-12 md:col-span-6 landscape:h-screen md:landscape:h-auto order-1 md:order-2 landscape:-mb-16 md:landscape:mb-0 overflow-hidden">
  <div class="box-border relative w-full landscape:h-full landscape:w-auto landscape:pb-16 md:landscape:pb-0 md:mt-8">
    <picture loading="eager">
      {{- range .Get "images" }}
      {{- $width := index .meta 1 -}}
      {{- $height := index .meta 2 -}}
      {{- $media := .media -}}
      <source type="image/webp" width="{{ $width }}" height="{{ $height }}" {{ printf "srcset=\"%s\"" .srcset | safeHTMLAttr }} media="{{- .media -}}" loading="eager" crossorigin>
      {{ end -}}
      <img class="object-center object-cover w-full h-auto landscape:w-auto landscape:h-full md:landscape:w-full md:landscape:h-auto{{ if page.Params.intro_image_hide_on_mobile }} hidden md:block{{ end }}" alt="{{ page.Title }}" src="{{ partialCached "link/cdn" $ }}{{ replace $imageFallback.RelPermalink "cdn/" "" }}" width="608" height="456" loading="eager" crossorigin>
    </picture>
  </div>
</div>
{{- end }}
