/* Tailwind base - put variables under: tailwind.config.js */
@import "tailwindcss";

/*@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));*/
@source "hugo_stats.json";
@source "./public";
@source "./content";
@source "./layouts";
@source "./assets";

@plugin "daisyui" {
  themes: light --default, dark;
  exclude: svg, reset;
}

@plugin "tailwindcss-semantic-typography";

@theme {
  /* Color comes from daisyUI */
  --color-*: initial;

  /* We do not use 2xl */
  --breakpoint-2xl: initial;

  --font-sans: SourceSans,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-sans--feature-settings: 'cv02' 1, 'cv04' 1, 'cv09' 1;
  /* --font-sans--feature-settings: "'cv18' 1"; */

  --font-serif: UntitledSerif,"Sabon LT Std",Garamond,ui-serif,Georgia,Cambria,serif;

  --font-heading: UntitledSerif,"Sabon LT Std",Garamond,ui-serif,Georgia,Cambria,serif;

  --font-bodytext: SourceSans,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-bodytext--feature-settings: 'cv02' 1,'cv04' 1,'cv09' 1;
}

@layer base {
  /* A default border color was not the worst idea in TW 3 */
  /* https://tailwindcss.com/docs/upgrade-guide#default-border-color */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-base-300, currentColor);
  }

  :root {
    font-size: 1.125rem;
    /* https://websemantics.uk/tools/responsive-font-calculator/ */
    /* The formula is friendly to https://bugzilla.mozilla.org/show_bug.cgi?id=1764768 */
    font-size: clamp(1.125rem, calc(1.125rem + ((1vmin - 0.2rem) * 0.125)), 1.25rem);
  }
  html {
    scroll-behavior: smooth;
    scroll-snap-type: block;
    scroll-padding-top: 8rem;
  }
  @media (width >= theme(--breakpoint-md)) {
    html {
      scroll-padding-top: 12rem;
    }
  }
  @media (width >= theme(--breakpoint-lg)) {
    html {
      scroll-snap-type: none;
    }
  }
  main h1, #content [id] {
    scroll-snap-align: start;
  }
  main a, footer a, .link-neutral {
    @apply underline;
    text-decoration-thickness: 1px;
    text-underline-offset: .3ex;
    text-decoration-color: oklch(var(--color-neutral)/0.3);
  }
  main a {
    color: oklch(var(--color-primary));
    text-decoration-color: oklch(var(--color-primary)/0.3);
  }
  main p a {
    color: oklch(var(--color-primary));
    text-decoration-color: oklch(var(--color-primary)/0.3);
  }
  main p a:visited {
    color: oklch(var(--color-neutral));
    text-decoration-color: oklch(var(--color-neutral)/0.3);
  }
  .link,
  .link-primary,
  .link-secondary,
  .link-accent,
  .link-neutral,
  .link-hover {
    @apply tracking-wide;
  }
  .link:hover,
  .link-primary:hover,
  .link-secondary:hover,
  .link-accent:hover,
  .link-neutral:hover,
  .link-hover {
    @apply underline;
  }
  #TableOfContents ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  #TableOfContents li {
    margin: 0;
    padding: 0;
    display: block;
    border-left: 4px solid transparent;
  }
  #TableOfContents li.active {
    border-color: oklch(var(--color-accent));
  }
  #TableOfContents li a {
    display: inline-block;
    margin: 0.5ex 0;
    padding: 0.5ex 1rem;
  }
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;

  /* see https://meat.io/oksolar for base solar ligh/dark colors */
  --color-primary: oklch(41.64% 0.0713 243.76);         /* blue */
  --color-primary-content: oklch(97.7% 0.012 90);       /* base 3 */

  --color-secondary: oklch(41.11% 0.0699 197.52);       /* Secondary color */
  --color-secondary-content: oklch(100% 0 0);           /* Foreground content color to use on secondary color */

  --color-accent: oklch(41.05% 0.0662 184.79);          /* Accent color */
  --color-accent-content: oklch(100% 0 0);              /* Foreground content color to use on accent color */

  --color-neutral: oklch(32.1% 0.053 219.6);          /* base 02 */
  --color-neutral-content: oklch(71.8% 0.017 198);    /* base 0 */

  --color-base-100: oklch(97.7% 0.012 90);            /* base 3 */
  --color-base-200: oklch(93.4% 0.031 90);            /* base 2 */
  --color-base-300: oklch(71.8% 0.03 90);            /* base 1 */
  --color-base-content: oklch(54.4% 0.017 219.6);     /* base 00 */

  --color-info: oklch(61.49% 0.1394 244.93);            /* blue */
  --color-success: oklch(54.69% 0.1195 117.2);          /* green */
  --color-warning: oklch(87.07% 0.1325 82.74);          /* light orange */
  --color-error: oklch(58.63% 0.2064 27.12);            /* red */

  --radius-box: 0.2rem;      /* border-radius for cards and other big elements */
  --radius-field: 0.2rem;      /* border-radius for buttons and similar elements */
  --radius-selector: 0.2rem;    /* border-radius for badge and other small elements */

  --animation-btn: 0.25s;     /* bounce animation time for button */
  --animation-input: .2s;     /* bounce animation time for checkbox, toggle, etc */

  --padding-card: 2rem;       /* default card-body padding */

  --btn-text-case: uppercase; /* default text case for buttons */
  --navbar-padding: .5rem;    /* default padding for navbar */
  --border: 1px;          /* default border size for button */
  --focus-ring: 2px;          /* focus ring size for button and inputs */
  --focus-ring-offset: 2px;   /* focus ring offset size for button and inputs */
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  color-scheme: dark;

  --color-primary: oklch(79.07% 0.0397 243.76);         /* blue / lightened to L=59.61 */
  --color-primary-content: oklch(97.7% 0.012 90);       /* base 3 */

  --color-secondary: oklch(79.07% 0.0699 197.52);       /* Secondary color */
  --color-secondary-content: oklch(100% 0 0);           /* Foreground content color to use on secondary color */

  --color-accent: oklch(76.87% 0.1234 184.79);          /* Accent color */
  --color-accent-content: oklch(100% 0 0);              /* Foreground content color to use on accent color */

  --color-neutral: oklch(93.4% 0.031 90);             /* base 2 */
  --color-neutral-content: oklch(54.4% 0.017 219.6);  /* base 00 */

  --color-base-100: oklch(27.4% 0.05 219.6);            /* base 03 */
  --color-base-200: oklch(32.1% 0.053 219.6);         /* base 02 */
  --color-base-300: oklch(53.5% 0.029 219.6);           /* base 01 */
  --color-base-content: oklch(71.8% 0.017 198);       /* base 0 */

  --color-info: oklch(61.49% 0.1394 244.93);            /* blue */
  --color-success: oklch(64.44% 0.1508 118.6);          /* green */
  --color-warning: oklch(87.07% 0.1325 82.74);          /* yellow */
  --color-error: oklch(58.63% 0.2064 27.12);            /* red */

  --radius-box: 0.2rem;      /* border-radius for cards and other big elements */
  --radius-field: 0.2rem;      /* border-radius for buttons and similar elements */
  --radius-selector: 0.2rem;    /* border-radius for badge and other small elements */

  --animation-btn: 0.25s;     /* bounce animation time for button */
  --animation-input: .2s;     /* bounce animation time for checkbox, toggle, etc */

  --padding-card: 2rem;       /* default card-body padding */

  --btn-text-case: uppercase; /* default text case for buttons */
  --navbar-padding: .5rem;    /* default padding for navbar */
  --border: 1px;          /* default border size for button */
  --focus-ring: 2px;          /* focus ring size for button and inputs */
  --focus-ring-offset: 2px;   /* focus ring offset size for button and inputs */
}

/* Tailwind component classes registered by plugins*/
/* Tailwind's utility classes - generated based on config file */

@utility btn {
  /*
    https://github.com/saadeghi/daisyui/issues/89
    https://github.com/saadeghi/daisyui/issues/108
    https://github.com/saadeghi/daisyui/issues/397
   */
  animation: none;
  &:active:hover {
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
  }
  &:active:focus {
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
  }
}
