<h2 class="font-medium font-serif text-xl text-secondary tracking-wide">{{ i18n "language" 2 | default "languages" | title }}</h2>
{{- $currentLang := .Site.Language.Lang -}}
{{- range where .AllTranslations "Language.LanguageName" "not in" (slice "" "cdn") -}}
{{- $lang := .Language.Params.Target | default .Language.LanguageName }}
  {{- if eq .Lang $currentLang -}}
    <span class="font-semibold text-secondary">{{ .Language.LanguageName }}</span>
  {{- else -}}
    <a class="text-primary font-semibold" href="{{ .Permalink }}">{{ $lang }}</a>
  {{- end -}}
{{- end -}}
