<div class="sr-only">{{ i18n "language" 2 | default "other languages" }}</div>
<ul id="lang" class="flex leading-none">
{{- $currentLang := .Site.Language.Lang -}}
{{- $linkClass := .Scratch.Get "linkClass" | default "block my-2 px-4 py-2" }}
{{- range where .Translations "Language.LanguageName" "not in" (slice "" "cdn") -}}
  <li><a class="{{ $linkClass }}" href="{{ .Permalink }}">{{ .Language.Params.Target | default .Language.LanguageName }}</a></li>
{{- end -}}
</ul>
