{{- if (ne "404" .Kind) -}}
<ol class="list-none pl-0 text-sm text-neutral-500 dark:text-neutral-400 print:hidden">
  {{- range (first (add (len .Ancestors) -1) (after 1 .Ancestors.Reverse)) }}
  {{- if .RelPermalink }}
  <li class="inline pl-0">
    <a
      class="hover:underline decoration-neutral-300 dark:underline-neutral-600"
      href="{{ .RelPermalink }}"
      >{{ if .Title }}
        {{- .Title -}}
      {{ else }}
        {{- .Section -}}
      {{ end }}</a
    ><span class="px-1 text-primary-500">/</span>
  </li>
  {{- end }}
  {{- end }}
</ol>
{{- end -}}
