<div class="flex items-center">
  <div class="relative flex justify-between rounded-full w-10 h-5 bg-base-300 text-neutral">
    <input type="checkbox" id="t-t" name="t-t"
           class="absolute peer cursor-pointer appearance-none w-full h-full active:outline-none">
    <label for="t-t"
           class="absolute cursor-pointer translate-x-full peer-checked:translate-x-0 border-base-300 left-0 bg-neutral border-2 mb-2 w-5 h-5 rounded-full"
           ><span class="sr-only">Theme Toggle</span></label>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="self-center mx-1 pointer-events-none"
    >
      <circle cx="12" cy="12" r="5"></circle>
      <line x1="12" y1="1" x2="12" y2="3"></line>
      <line x1="12" y1="21" x2="12" y2="23"></line>
      <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
      <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
      <line x1="1" y1="12" x2="3" y2="12"></line>
      <line x1="21" y1="12" x2="23" y2="12"></line>
      <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
      <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="self-center mx-0.5 pointer-events-none"
    >
      <path
        d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"
      ></path>
    </svg>
    {{- partial "resource/script" "/js/inline/darkmode-toggle.js" -}}
  </div>
</div>
