{{ if hugo.IsServer }}
<div class="fixed bottom-0 right-0 z-50 flex items-center justify-center w-8 h-8 mt-12 mr-8 text-sm uppercase font-bold text-base3 rounded-full sm:bg-error md:bg-warning lg:bg-success xl:bg-info 2xl:bg-magenta">
    <span class="block sm:hidden">all</span>
    <span class="hidden sm:block md:hidden">sm</span>
    <span class="hidden md:block lg:hidden">md</span>
    <span class="hidden lg:block xl:hidden">lg</span>
    <span class="hidden xl:block 2xl:hidden">xl</span>
    <span class="hidden 2xl:block">2xl</span>
</div>
{{ end }}
