<footer class="text-base-content body-font">
  <div class="footer container mx-auto py-6 border-t mt-6">
    <aside class="items-center grid-flow-col" aria-label="{{- T "aria-aside-author-claim" -}}">
      <div class="px-4">
        {{- partial "meta/logo" (dict "Site" .Site "height" 24) -}}
        <p class="max-w-[18rem] mt-2 text-sm">{{ .Description | default (.Site.GetPage "/").Description }}</p>
      </div>
    </aside>
    <nav class="grid-flow-col md:place-self-center md:justify-self-end" aria-label="{{- T "aria-nav-professional-networks" -}}">
      {{- range .Site.Data.meta.author.network }}
        <a href="{{ .link }}" class="block p-4" aria-label="{{- .name -}}">
          <span class="sr-only">{{- .name -}}</span>
          <span class="w-6 h-6 block">{{- (resources.Get .logo).Content | safeHTML }}</span>
        </a>
      {{- end }}
    </nav>
  </div>
  <div class="footer align-baseline container text-sm lg:text-xs px-4 py-6 gap-y-4 border-t mx-auto">
    <nav class="leading-6 flex flex-col md:flex-row justify-between" aria-label="{{- T "aria-nav-legal-notes" -}}">
      <div class="flex flex-col md:flex-row gap-x-4 gap-y-4">
      {{- with .Site.Params.copyright }}
        <div>© {{ with .since }}{{ . }}–{{- end -}}{{ now.Format "2006" }}<span class="ml-4">{{ .holder }}</span></div>
      {{ end -}}
      {{- range .Site.Menus.subfooter -}}
        <div class="md:border-l md:pl-4"><a class="link link-neutral align-middle" href="{{ .URL }}">{{ .Title }}</a></div>
      {{- end -}}
      </div>
    </nav>
    <aside class="flex items-center gap-x-4 md:justify-self-end" aria-label="{{- T "aria-aside-no-track" -}}">
      <div>{{- partial "metrics/dnt-badge.html" . -}}</div>
      <div>{{- partial "metrics/no-fingerprints.html" . -}}</div>
      <div>{{- partial "metrics/no-cookies.html" . -}}</div>
    </aside>
  </div>
</footer>
