  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
  <meta content="telephone=no" name="format-detection">
  <meta content="address=no" name="format-detection">
  <meta name="color-scheme" content="light dark">
  <meta name="theme-color" content="#0d5980">
  <meta name="msapplication-TileColor" content="#0d5980">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  {{- partial "meta/frontmatter.html" . }}
  <link rel="icon" href="/favicon.ico" sizes="48x48">
  <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest">
  {{- partial "resource/prefetch.html" }}
  {{- partial "intro-image/link.html" . -}}
  {{- partial "resource/link.html" . -}}
