<label class="md:hidden float-right sticky top-0 w-16 h-16 p-4 flex flex-wrap justify-center content-center block text-sm cursor-pointer" for="m-t" id="m-t-l"><span class="sr-only">Menu</span>
  <svg id="m-t-i" class="block relative w-6 h-6 top-0" aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <path class="transition-transform" d="M5,20H95"/>
    <path class="transition-opacity" d="M5,50H95"/>
    <path class="transition-transform" d="M5,80H95"/>
  </svg>
</label>
