{{ define "title" }}{{ .Site.Title }}{{ end }}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}
<section class="flex justify-start items-center">
  <div class="container px-4 mx-auto">
    <div class="grid grid-cols-12 md:gap-x-12 lg:gap-x-16">
      <div class="col-span-12 md:col-span-6 lg:col-span-6 order-2 md:order-1 mt-8 flex flex-col justify-center">
        <div class="max-w-lg shrink xl:mx-auto xl:py-8 xl:px-16 xl:border-l xl:border-r">
          <div id="content">
            {{- with .Params.feature }}
            {{ with .headline }}<h1 id="title">{{ . }}</h1>{{ end }}
            {{ with .subhead }}<h2 id="{{ . | anchorize }}">{{ . }}</h2>{{ end }}
            {{ with .teaser }}<h3>{{ . }}</h3>{{ end }}
            {{ end -}}
{{- .Content -}}
          </div>
          {{- with (.Param "cta").button }}
          <a id="cta-main" class="btn btn-primary flex-grow landscape:flex-grow-0 md:flex-grow-0 px-4" href="{{ .link }}">{{ .label }}<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 ml-1 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg></a>
          {{ end -}}
        </div>
      </div>
{{- partial "intro-image/render" . }}
    </div>
  </div>
</section>

{{- $offer := where (where .Site.RegularPages "Type" "offer") ".Params.featured" true -}}
{{- if gt (len $offer) 0 }}
<section>
  <div class="container px-4 py-24 mx-auto">
    <div class="grid grid-cols-12 gap-y-16 md:gap-x-12 lg:gap-x-16">
      {{- $offer := where (where .Site.RegularPages "Type" "offer") ".Params.featured" true -}}
      {{- range first 6 (sort $offer ".Params.weight") }}
      <article class="col-span-12 md:col-span-6 flex">
        <div class="flex-grow landscape:pl-6 md:pl-6 sm:border-l">
        {{- $link := .RelPermalink -}}
        {{- with .Params.feature }}
        {{- with .headline }}<h1 id="{{ . | anchorize }}"><a href="{{ $link }}">{{ . }}</a></h1>{{ end -}}
        {{- with .subhead }}<h2 id="{{ . | anchorize }}">{{ . }}</h2>{{ end -}}
        {{- with .teaser }}<h3>{{ . }}</h3>{{ end -}}
        {{ end -}}
          <p class="leading-relaxed text-left hyphens-none">{{ .Params.feature.link | default (.Content | truncate 120 "…") }}
          <a href="{{ $link }}">{{ .Title }}</a>
        </p>
        </div>
      </article>
      {{- end }}
    </div>
  </div>
</section>
{{- end }}
{{ end }}
