{{- $compact := eq (.Get 0) "compact" -}}
{{- with .Inner | transform.Unmarshal -}}
<ul class="pl-0 relative border-base-200 border-l list-none">
{{- range . }}
  <li class="mb-10 ml-4">
    <h3 class="mt-0.5 text-left">{{- .what -}}</h3>
    <div class="flex flex-row flex-nowrap gap-1 text-xs leading-none">
      <div class="absolute mt-0 w-3 h-3 bg-base-200 rounded-full -left-1.5"></div>
      <time class="flex-none">{{- .when -}}</time>
{{- if $compact -}}
      <div class="flex-shrink flex flex-row flex-wrap gap-1 text-base-300">
        <div class="flex-grow lg:flex-none border-base-300 border-l pl-1">{{- .where -}}</div>
{{- with .tools -}}
        <div class="flex-grow pl-1 border-base-300 border-l">{{- . -}}</div>
{{- end -}}
      </div>
{{- end -}}
    </div>
{{- if not $compact }}
    <p>{{- .where -}}</p>
{{- end }}
{{- with .more }}
    <p>{{- . | markdownify -}}</p>
{{- end }}
{{- if not $compact }}
{{- with .tools }}
    <p class="mb-1 text-xs leading-none text-base-300">{{- . -}}</p>
{{- end }}
{{- end }}
{{- with .cta }}
    <a href="{{- .href -}}" class="inline-flex items-center py-2 px-4 text-sm font-medium text-base-100 bg-white rounded-lg border border-base-200 hover:bg-base-200 hover:text-primary focus:z-10 focus:ring-4 focus:outline-none focus:ring-base-200 focus:text-primary">{{- .label -}} <svg class="ml-2 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></a>
{{- end }}
  </li>
{{- end }}
</ul>
{{- end }}
